.Header-main_menu {
	float: right;
	clear: right;
	padding: 8px;
}
.Header-logo {
	color: #e97025;
	font-weight: 1000;
	font-size: 32px;
	clear: none;
	position: absolute;
	padding: 8px;
}
.resume_b {
	background: #e97025;
	padding: 8px;
	display: inline;
}
