.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: 000000;
  margin-top: -5vh;
}
.App-namehead {
  color: #32C0F4;
	font-size: calc(28px + 2vw);
}
.App-namehead2 {
	color: #E97025;
	font-size: calc(4px + 2vw);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-head_desc {
	line-height: calc(2px + 3vh);
	word-wrap: break-word;
  font-size: calc(4px + 2vh);
}
@media screen and (max-width: 1000px) {
	.App-social_media {
		display: none;
	}
}
.App-social_media {
	bottom: 0;
	left: 0px;
	position: fixed;
}
.sm_ls {
	list-style: none;
}
.sm_ic {
	margin-left: -2px;
	width: 18px;
	height: 18px;
	padding: 2px;
}
.rotsm2 {
	margin-top: -3px;
	font-size: 22px;
	transform: rotate(90deg);
}
.rotsm1 {
	font-size: 22px;
	margin-bottom: -6px;
	transform: rotatez(90deg);
}