:root {
    --primary-text-color: #000000;
    --header-font-size: calc(10px + 2vmin);
    --name-head-color: #32c0f4;
    --sub-name-head-color: #e97124;
    --link-color: #280a00;
    --animation-duration: 20s;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    animation: App-logo-spin infinite var(--animation-duration) linear;
}

@media (prefers-reduced-motion: reduce) {
    .App-logo {
        animation: none;
    }
}

.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    font-size: var(--header-font-size);
    color: var(--primary-text-color);
    margin-top: -8vh;
}

.name_head {
    color: var(--name-head-color);
    font-size: calc(28px + 2vw);
}

.sub_name_head {
    color: var(--sub-name-head-color);
    font-size: calc(4px + 2vw);
}

.link {
    color: var(--link-color);
}

.head_desc {
    line-height: calc(2px + 3vh);
    word-wrap: break-word;
    font-size: calc(4px + 2vmin);
}

@media screen and (max-width: 1000px) {
    .social_media {
        display: none;
    }
}

.social_media {
    bottom: 0;
    left: 0;
    position: fixed;
}

.small_list {
    list-style: none;
}

.small_icons {
    margin-left: -2px;
    width: 18px;
    height: 18px;
    padding: 2px;
}

.rotate_icons {
    font-size: 22px;
}

.rotate_first_icons {
    margin-bottom: -6px;
    transform: rotate(90deg);
}

.rotate_second_icons {
    margin-top: -3px;
    transform: rotate(90deg);
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
