.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #000000;
    margin-top: -8vh;
}

.name_head {
    color: #32c0f4;
    font-size: calc(28px + 2vw);
}

.sub_name_head {
    color: #e97124;
    font-size: calc(4px + 2vw);
}

.link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.head_desc {
    line-height: calc(2px + 3vh);
    word-wrap: break-word;
    font-size: calc(4px + 2vmin);
}

@media screen and (max-width: 1000px) {
    .social_media {
        display: none;
    }
}

.social_media {
    bottom: 0;
    left: 0;
    position: fixed;
}

.small_list {
    list-style: none;
}

.small_icons {
    margin-left: -2px;
    width: 18px;
    height: 18px;
    padding: 2px;
}

.rotate_second_icons {
    margin-top: -3px;
    font-size: 22px;
    transform: rotate(90deg);
}

.rotate_first_icons {
    font-size: 22px;
    margin-bottom: -6px;
    transform: rotate(90deg);
}
